.tool-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.input-section {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.input-section label {
    margin: 10px 0 5px;
}

.input-section input[type="range"] {
    width: 100%;
}

.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    width: 100%;
    height: 400px;
}

.results {
    margin-top: 20px;
    text-align: center;
}

.results p {
    font-size: 18px;
    margin: 5px 0;
}

.results span {
    font-weight: bold;
}

@media only screen and (max-width: 750px) {
    .tool-container {
        flex-direction: column;
    }
}