@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}




.calc-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.calculations {
    height: 350px;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: 7px;

    margin: 50px;
    max-width: 600px;
    width: 300px;
    transition: all 300ms ease;
}



.calculations h1 {
    font-size: 1.8rem;
    color: var(--color-primary);
    margin-bottom: 1.2rem;
    text-align: center;
}

.calculations .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.calculations label {
    font-size: 1.1rem;
    color: var(--color-dark);
    width: 40%;
}

.calculations select,
.calculations input,
.calculations button {
    width: 70%;
    padding: 0.8rem;
    border-radius: var(--border-radius-2);
    font-size: 1.1rem;
    border: 6px solid var(--color-info-light);
    background: var(--color-background);
    color: var(--color-dark);
    transition: all 300ms ease;
    text-align: center;
}

.calculations select:focus,
.calculations input:focus,
.calculations button:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
}

.calculations button {
    background: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    margin-bottom: 2rem;
}

.calculations button:hover {
    background: var(--color-primary-variant);
}

.calculations h3,
.calculations h5,
.calculations p {
    text-align: center;
    color: var(--color-dark-variant);
}

.calculations h3 p,
.calculations h5 p {
    margin: 0;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

.calc-container p {
    color: var(--color-dark-variant);
}

.calc-container b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* Delta Calculator Styles */
.stop-loss-calculator {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    margin: 50px;
    max-width: 600px;
    width: 800px;
    transition: all 300ms ease;
    height: auto;
    font-size: 10px;
}



.stop-loss-calculator h1 {
    font-size: 1.8rem;
    color: var(--color-primary);
    margin-bottom: 1.2rem;
    text-align: center;
}

.stop-loss-calculator .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.stop-loss-calculator label {
    font-size: 1.1rem;
    color: var(--color-dark);
    width: 40%;
}

.stop-loss-calculator select,
.stop-loss-calculator input,
.stop-loss-calculator button {
    width: 70%;
    padding: 0.8rem;
    border-radius: var(--border-radius-2);
    font-size: 1.1rem;
    border: 1px solid var(--color-info-light);
    background: var(--color-background);
    color: var(--color-dark);
    transition: all 300ms ease;
    text-align: center;
}

.stop-loss-calculator select:focus,
.stop-loss-calculator input:focus,
.stop-loss-calculator button:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
}

.stop-loss-calculator button {
    background: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    margin-bottom: 2rem;
}

.stop-loss-calculator button:hover {
    background: var(--color-primary-variant);
}

.stop-loss-calculator h3,
.stop-loss-calculator h5,
.stop-loss-calculator p {
    text-align: center;
    color: var(--color-dark-variant);
}

.stop-loss-calculator h3 p,
.stop-loss-calculator h5 p {
    margin: 0;
}

.button-group {
    display: flex;
    justify-content: center;
}


.form-group input {
    padding: 4px;
    border-radius: 1px;
}

.form-group select {
    padding: 4px;
    border-radius: 1px;
}

.calc-container button {
    padding: 4px;
    border-radius: 1px;
}

/* Styling for Popup */
.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
}

/* Popup content styling */
.popup-content {
    background-color: white;
    margin: 15% auto;
    /* padding: 15px; */

    width: 40%;
    border-radius: 7px;



}

/* 
.flex-pop
{
    display: flex;
    justify-content: center;
} 

/* Close button */
.close-btn {
    color: red;
    /* float: right; */
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    /* margin-right: 6px; */

}

.form-group {
    margin-bottom: 20px;
}

.stop-loss-calculator {
    margin: 20px;
}

.flex-pop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
}



.stop-loss-calculator:hover {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
